@page "/consent-complete"

<PageTitle>Consent Granted</PageTitle>

<div class="d-flex flex-column align-center justify-center" style="min-height: 400px;">
    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Style="font-size: 5rem;" />
    <MudText Typo="Typo.h4" Class="mt-4">Thank You!</MudText>
    <MudText Typo="Typo.body1" Color="Color.Secondary" Class="mt-2">
        Admin consent has been successfully granted for this application.
    </MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mt-1">
        Data collection will begin on the next scheduled run, or you can trigger it manually from the Tenants page.
    </MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/tenants" Class="mt-6">
        Go to Tenant Management
    </MudButton>
</div>
